{% extends 'main/default.html' %}

{% block content %}
    <ul class="uk-list uk-list-divider">
        {% for curso in cursos %}
            <li>
                <a class="uk-display-block uk-card uk-card-body uk-card-default uk-card-hover uk-link-toggle uk-width-1-2" href="Curso/{{ curso.id }}">
                    <h3 class="uk-card-title"><span class="uk-link-heading">{{ curso.nombre }}</span></h3>
                    <p>{{ curso.descripcion }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}